* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, sans-serif;
}

header {
    background-color: #222;
    color: #f56595;
    text-align: center;
    padding: 10px 0;
    text-shadow: 3px 0px 0px #cc2f85;
    font-family: 'Fleur De Leah', cursive;
  }
  
.header-title {
    font-size: 100px;
    font-weight: 700;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-title img {
    width: 80px; /* adjust to your desired size */
    height: 80px;
    position: relative;
    margin-left: 20px;
}

  
main {
	display: grid;
	grid-template-columns: 3fr 1fr;
	grid-gap: 10px;
	margin: 20px;
}

.parent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
    height: 1400px;
  }
  
.child {
    transition: all 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.child img {
    object-fit: cover;
    margin: auto;
    width: 700px;
    height: 700px;
}

.child:hover {
    transform: scale(1.5);
    z-index: 1;
}

.bottom-left:hover {
    transform: translate(50%,-50%) scale(2.0);
}

.top-left:hover {
    transform: translate(50%,50%) scale(2);
}

.top-right:hover {
    transform: translate(-50%,50%) scale(2);
}

.bottom-right:hover {
    transform: translate(-50%,-50%) scale(2);
}
    
aside {
    background-color: #ecf0f1;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
}

.sidebar {
    background-color: #fff;
    box-shadow: 0 0 10px #888;
    padding: 20px;
}

.sidebar p, h2 {
    font-family: 'Playfair Display', serif;
    padding: 13px;
}

.container {
    overflow-x: hidden;
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* автоматично розраховує кількість колонок */
    grid-gap: 20px;
}
    
@media screen and (max-width: 768px) {
.container, main {
    grid-template-columns: 1fr; /* одна колонка при ширині екрану менше 768px */
}
} 

@media screen and (max-width: 1536px) {
.parent {
    grid-template-columns: 2fr;
    grid-template-rows: repeat(4, auto);
    height: auto;
}
}

section {
    width: 100%;
    height: 280px;
    background-color: #f0a0bb;
    border: 4px solid rgb(182, 116, 127);
    overflow-y: scroll;
    margin: auto;
}

.content {
    padding: 20px;
}

.content p {
    padding-bottom: 15px;
}

footer {
    bottom: 0;
    width: 100%;
    height: 100px;
    padding-top: 1px;
    /* Optional styling */
    background-color: #222;
    box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.1);
    z-index: 2;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

.footer-info {
    margin: 10px;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 768px) {
.footer-container {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: auto;
}

.footer-info {
    margin-bottom: 20px;
}


}
      
input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

button[type="submit"] {
    background-color: #f56595;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #cc2f85;
}

.footer-navigation {
    margin: auto;
}

.footer-navigation a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    transition: background-color 0.2s ease;
}

.footer-navigation a:hover {
    background-color: #cc2f85;
    color: #fff;
}
      
.fixed-element-telegram {
    position: fixed;
    display:block;
    top: 10px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: all 0.3s ease;
    z-index: 3;
}

.fixed-element-instagram {
    position: fixed;
    display:block;
    top: 70px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: all 0.3s ease;
    z-index: 3;
}

.fixed-element-telegram:hover, .fixed-element-instagram:hover {
    transform: scale(1.2) rotate(5deg);
}